In [1]:
import pandas as pd
import numpy as np

In [4]:
rating_frame = pd.read_csv("C:/Users/tapis/Desktop/Sanyogeeta Python files/ml-latest-small/ratings.csv")
rating_frame.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
movies_frame = pd.read_csv("C:/Users/tapis/Desktop/Sanyogeeta Python files/ml-latest-small/movies.csv")

In [8]:
rating_count = pd.DataFrame(rating_frame.groupby("movieId")['rating'].count())

In [10]:
sorted_rating = pd.DataFrame(rating_count.sort_values('rating', ascending=False))

In [14]:
sorted_rating.head(10)

         rating
movieId
356         341
296         324
318         311
593         304
260         291
480         274
2571        259
1           247
527         244
589         237

In [18]:
movieID = pd.DataFrame([356,296,318,593,260,480,2571,1,527,589],index=np.arange(10), columns=['movieId'])

In [19]:
movies = pd.merge(movieID, movies_frame, on='movieId')

In [20]:
movies

,movieId,title,genres
0,356,Forrest Gump (1994),Comedy|Drama|Romance|War
1,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,318,"Shawshank Redemption, The (1994)",Crime|Drama
3,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
4,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
5,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
6,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
8,527,Schindler's List (1993),Drama|War
9,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi